---

name: Minecraft Assets Cache

on:
  schedule:
    - cron: "34 3 * * *" # Update daily
  workflow_dispatch:

jobs:
  update-cache:
    runs-on: ubuntu-latest
    name: Update Assets Cache
    steps:
      - uses: neoforged/actions-modding/minecraft-assets-cache/create@v1
        with:
          # 1.20.1 for legacytest, 1.21 for normal test
          minecraft-versions: |
            1.20.1
            1.21
